@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a fonte Inter como padrão do sistema */
:root {
  font-family: 'Inter', sans-serif;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

/* Scrollbar personalizada para ficar elegante */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}